.PlaceTypeSelector {
   .place-title {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-bottom: 16px;
      color: #212121;
   }

   .place-menu {
      color: #212121;

      .place-item {
         display: flex;
         align-items: center;
         margin-bottom: 16px;
         font-size: 1.4rem;
         line-height: 2.4rem;

         .place-radio {
            cursor: pointer;
            width: 16px;
            height: 16px;
         }

         .place-text {
            flex: 1;
            cursor: pointer;
            padding-left: 8px;
         }

         &:last-child {
            margin: 0;
         }
      }
   }
}
